[submodule "containers/compilers/rump/go/gorump"]
	path = containers/compilers/rump/go/gorump
	url = https://github.com/emc-advanced-dev/gorump.git
[submodule "docs/examples/example-cpp-includeos"]
	path = docs/examples/example-cpp-includeos
	url = https://github.com/includeos/unik_test_service
